{% extends "base.html" %}
{% load static %}

{% block title %}avm - Профиль{% endblock %}

{% block page_back_class %}user{% endblock %}

{% block user_href %}{% endblock %}

{% block h1 %}
<h1>Профиль</h1>
<p class="h1-annotation">*История ваших переводов между системами и вычислений алгебры логики</p>
{% endblock %}

{% block main %}
    <main>

        <div class="history-wrapper-light">
            <h2><span class="h2-bright">Перевод</span> между системами</h2>
            <figure class="history-item">
                <div class="history-item-back">
                    <div class="for-overflow-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>5</td>
                                    <td>66</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <td>6</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>E</td>
                                    <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </figure>
        </div>

        <div class="run-back">
            <div class="run">
                <section class="run">
                    <h2 class="visually-hidden">На главную</h2>
                    <a class="button" href="{% url 'index' %}" title="Главная">На главную</a>
                </section>
            </div>
        </div>

        <div class="history-wrapper-dark-back">
            <div class="history-wrapper-dark">
                <h2><span class="h2-bright">Вычисление</span> алгебры логики</h2>
                <figure class="history-item">
                    <div class="history-item-back">
                        <div class="for-overflow-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>A</th>
                                        <th>B</th>
                                        <th>C</th>
                                        <th>D</th>
                                        <th>R</th>
                                        <th>F</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>B+(D&C\/B)[+](A|B)\|/D</h3>
                </figure>
            </div>
        </div>

        <div class="history-wrapper-light">
            <h2><span class="h2-bright">Перевод</span> между системами</h2>
            <figure class="history-item">
                <div class="history-item-back">
                    <div class="for-overflow-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>5</td>
                                    <td>66</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <td>6</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>E</td>
                                    <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </figure>
        </div>

        <div class="run-back">
            <div class="run">
                <section class="run">
                    <h2 class="visually-hidden">На главную</h2>
                    <a class="button" href="{% url 'index' %}" title="Главная">На главную</a>
                </section>
            </div>
        </div>

        <div class="history-wrapper-dark-back">
            <div class="history-wrapper-dark">
                <h2><span class="h2-bright">Вычисление</span> алгебры логики</h2>
                <figure class="history-item">
                    <div class="history-item-back">
                        <div class="for-overflow-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>A</th>
                                        <th>B</th>
                                        <th>C</th>
                                        <th>D</th>
                                        <th>R</th>
                                        <th>F</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>B+(D&C\/B)[+](A|B)\|/D</h3>
                </figure>
            </div>
        </div>
        
        <div class="history-wrapper-light">
            <h2><span class="h2-bright">Перевод</span> между системами</h2>
            <figure class="history-item">
                <div class="history-item-back">
                    <div class="for-overflow-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>5</td>
                                    <td>66</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <td>6</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>E</td>
                                    <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </figure>
        </div>

        <div class="run-back">
            <div class="run">
                <section class="run">
                    <h2 class="visually-hidden">На главную</h2>
                    <a class="button" href="{% url 'index' %}" title="Главная">На главную</a>
                </section>
            </div>
        </div>

        <div class="history-wrapper-dark-back">
            <div class="history-wrapper-dark">
                <h2><span class="h2-bright">Вычисление</span> алгебры логики</h2>
                <figure class="history-item">
                    <div class="history-item-back">
                        <div class="for-overflow-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>A</th>
                                        <th>B</th>
                                        <th>C</th>
                                        <th>D</th>
                                        <th>R</th>
                                        <th>F</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>B+(D&C\/B)[+](A|B)\|/D</h3>
                </figure>
            </div>
        </div>

        <div class="history-wrapper-light">
            <h2><span class="h2-bright">Перевод</span> между системами</h2>
            <figure class="history-item">
                <div class="history-item-back">
                    <div class="for-overflow-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>5</td>
                                    <td>66</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <td>6</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>E</td>
                                    <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </figure>
        </div>

        <div class="run-back">
            <div class="run">
                <section class="run">
                    <h2 class="visually-hidden">На главную</h2>
                    <a class="button" href="{% url 'index' %}" title="Главная">На главную</a>
                </section>
            </div>
        </div>

        <div class="history-wrapper-dark-back">
            <div class="history-wrapper-dark">
                <h2><span class="h2-bright">Вычисление</span> алгебры логики</h2>
                <figure class="history-item">
                    <div class="history-item-back">
                        <div class="for-overflow-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>A</th>
                                        <th>B</th>
                                        <th>C</th>
                                        <th>D</th>
                                        <th>R</th>
                                        <th>F</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h3>B+(D&C\/B)[+](A|B)\|/D</h3>
                </figure>
            </div>
        </div>

        <div class="history-wrapper-light">
            <h2><span class="h2-bright">Перевод</span> между системами</h2>
            <figure class="history-item">
                <div class="history-item-back">
                    <div class="for-overflow-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                    <th>ferfref</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>5</td>
                                    <td>66</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <td>6</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>E</td>
                                    <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </figure>
        </div>
        
    </main>
{% endblock %}

{% block scripts %}
<script src="{% static 'user_script.js' %}"></script>
{% endblock %}
